# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [47]:
import pandas as pd
import numpy as np

import scipy.stats as stats
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendary = pokemon[pokemon['Legendary'] == True]['Total']
legendary.head(10)

156    580
157    580
158    580
162    680
163    780
164    780
262    580
263    580
264    580
269    680
Name: Total, dtype: int64

In [6]:
legendary.mean(), legendary.std()

(637.3846153846154, 60.93738905315346)

In [7]:
non_legendary = pokemon[pokemon['Legendary'] == False]['Total']
non_legendary.head(10)

0    318
1    405
2    525
3    625
4    309
5    405
6    534
7    634
8    634
9    314
Name: Total, dtype: int64

In [8]:
non_legendary.mean(), non_legendary.std()

(417.21360544217686, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [9]:
#help(ttest_ind)

In [10]:
t_statistics, p_value = ttest_ind(legendary, non_legendary, equal_var=False)

t_statistics, p_value

(25.8335743895517, 9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [11]:
# Con el valor pvalue se podría indicar que la hipótesis nula se rechaza. Es decir, con una probabilidad incluso mayor del 95% de intervalo de confianza el grupo de pokemons legendarios tienen un mayor puntaje con respecto a los no legendarios.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [12]:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [13]:
water = pokemon[pokemon['Type 1'] == 'Water']['Total']
water.head(10)

9     314
10    405
11    530
12    630
59    320
60    500
65    300
66    385
67    510
78    335
Name: Total, dtype: int64

In [14]:
water.mean(), water.std()

(430.45535714285717, 113.18826606431458)

In [15]:
non_water = pokemon[pokemon['Type 1'] != 'Water']['Total']
non_water.head(10)

0     318
1     405
2     525
3     625
4     309
5     405
6     534
7     634
8     634
13    195
Name: Total, dtype: int64

In [16]:
non_water.mean(), non_water.std()

(435.85901162790697, 121.09168230208066)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [17]:
t_statistics, p_value = ttest_ind(water, non_water, equal_var=True)

t_statistics, p_value

(-0.4418547448849676, 0.6587140317488793)

Write your conclusion below.

In [18]:
# Con el valor pvalue se podría indicar que la hipótesis nula no se rechaza. Es decir, con una probabilidad cercana al 65% de intervalo de confianza, el grupo de pokemons de tipo agua tienen un puntaje similar con respecto a los que no son tipo agua.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [19]:
attack = pokemon[pokemon['Attack'] != 0]['Attack']
attack.head(10)

0     49
1     62
2     82
3    100
4     52
5     64
6     84
7    130
8    104
9     48
Name: Attack, dtype: int64

In [20]:
len(attack)

800

In [31]:
attack.mean(), attack.std()

(79.00125, 32.45736586949843)

In [21]:
defense = pokemon[pokemon['Defense'] != 0]['Defense']
defense.head(10)

0     49
1     63
2     83
3    123
4     43
5     58
6     78
7    111
8     78
9     65
Name: Defense, dtype: int64

In [22]:
len(defense)

800

In [33]:
defense.mean(), defense.std()

(73.8425, 31.183500559332927)

In [30]:
t_statistic, p_value = ttest_rel(attack, defense)

t_statistic, p_value

(4.325566393330478, 1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [23]:
# Your conclusions here:
# Con el valor pvalue se podría indicar que la hipótesis nula se rechaza. Es decir, con una probabilidad incluso mayor del 95% de intervalo de confianza el puntaje de ataque tiene una diferencia significativa con respecto al puntaje de defensa de cada pokémon.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [36]:
# Your code here:
sp_attack = pokemon[pokemon['Sp. Atk'] != 0]['Sp. Atk']
sp_attack.head(10)

0     65
1     80
2    100
3    122
4     60
5     80
6    109
7    130
8    159
9     50
Name: Sp. Atk, dtype: int64

In [37]:
sp_attack.mean(), sp_attack.std()

(72.82, 32.72229416880157)

In [38]:
sp_defense = pokemon[pokemon['Sp. Def'] != 0]['Sp. Def']
sp_defense.head(10)

0     65
1     80
2    100
3    120
4     50
5     65
6     85
7     85
8    115
9     64
Name: Sp. Def, dtype: int64

In [39]:
sp_defense.mean(), sp_defense.std()

(71.9025, 27.82891579711745)

In [40]:
t_statistic, p_value = ttest_rel(sp_attack, sp_defense)
t_statistic, p_value

(0.853986188453353, 0.3933685997548122)

Describe the results of the test in the cell below.

In [25]:
# Your conclusions here:
'''
Con el valor pvalue se podría indicar que la hipótesis nula no se rechaza.
Es decir, con una probabilidad cercana al 60% de intervalo de confianza,
concluimos que el puntaje de ataque especial es similar al puntaje de defensa especial,
sin apenas diferencia significativa.
'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [46]:
# Your code here:
ttest_1samp(attack - defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [52]:
# Your code here:

pokemon['Water_or_not'] = np.where(pokemon['Type 1'] == "Water", True, False)
pokemon.head(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Water_or_not
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,True
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,True
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,True
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,True
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,False
15,12,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,False
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,False
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,False

In [53]:
compare_cross = pd.crosstab(pokemon['Legendary'], pokemon['Water_or_not'])
compare_cross

Water_or_not  False  True
Legendary
False           627    108
True             61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [55]:
# Your code here:
ji_dos, p_val, dof, ex = chi2_contingency(compare_cross)
ji_dos, p_val, dof, ex

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [29]:
# Your answer here:
'''
Basado en un 92% de intervalo de confianza, se podría indicar que no rechazamos la hipotesis nula.
'''