# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [60]:
import numpy as np
import pandas as pd
from scipy.stats import norm
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import shapiro
from scipy.stats import ttest_1samp
from sklearn.preprocessing import StandardScaler
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [11]:
pokemon.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
leg = pokemon[pokemon['Legendary'] == True]['Total']
noleg = pokemon[pokemon['Legendary'] == False]['Total']

In [18]:
lm = leg.mean()
ls = leg.std()
nlm = noleg.mean()
nls = noleg.std()

print(f'''Media de leg = {lm}
Standard Deviation leg = {ls} 
Media de noleg = {nlm}
Standard Deviation noleg = {nls}''')

Media de leg = 637.3846153846154
Standard Deviation leg = 60.93738905315344
Media de noleg = 417.21360544217686
Standard Deviation noleg = 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [22]:
t_test=ttest_ind(leg,
                noleg,                        
                alternative='two-sided'  
                  )

t_test

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Podemos observar que el total de puntos de los legentarios vs no legendarios son significativamente diferentes.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [29]:
t1 = pokemon['Type 1'].value_counts()

[Type 1
 Water       112
 Normal       98
 Grass        70
 Bug          69
 Psychic      57
 Fire         52
 Electric     44
 Rock         44
 Dragon       32
 Ground       32
 Ghost        32
 Dark         31
 Poison       28
 Steel        27
 Fighting     27
 Ice          24
 Fairy        17
 Flying        4
 Name: count, dtype: int64]

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [30]:
wat = pokemon[pokemon['Type 1'] == 'Water']['Total']
rest = pokemon[pokemon['Type 1'] != 'Water']['Total']

In [31]:
wat.mean(), wat.std()

(430.45535714285717, 113.1882660643146)

In [32]:
rest.mean(), rest.std()

(435.85901162790697, 121.0916823020807)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [36]:
shapiro(wat)

ShapiroResult(statistic=0.969588041305542, pvalue=0.01169627159833908)

In [37]:
shapiro(rest)

ShapiroResult(statistic=0.9821632504463196, pvalue=1.9721480271073233e-07)

In [51]:
columna = pokemon['Total']
columna = columna.values.reshape(-1, 1)

In [54]:
pokemon['newtotal'] = StandardScaler().fit_transform(columna)

In [55]:
watnor = pokemon[pokemon['Type 1'] == 'Water']['newtotal']
restnor = pokemon[pokemon['Type 1'] != 'Water']['newtotal']

In [41]:
# help(ttest_ind)

In [33]:
t_test=ttest_ind(wat,
                rest,                        
                alternative='two-sided'  
                  )

t_test

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

In [57]:
t_test=ttest_ind(watnor,
                restnor,                        
                alternative='two-sided'  
                  )
t_test

Ttest_indResult(statistic=-0.4418547448849704, pvalue=0.6587140317488773)

Write your conclusion below.

In [10]:
# Hemos comprobado que los filtros escogidos no estaban normalizados por lo que hemos tranformado 'Total' y añadido una nueva columna con los valores normalizados.
# Para comprobar la hipótesis, hemos comprobado en ambos filtros y el resultado obtenido es similar. Podemos afirmar la hipótesis nula, lo que podría comprobar que las varianzas son iguales

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [66]:
# shapiro(pokemon['Attack'])

In [40]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

Describe the results of the test in the cell below.

In [12]:
# Con el valor de pvalue podriamos rechazar la hipótesis nula, aceptando así una diferencia estadística entre las columnas

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [42]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [14]:
# En este caso, los ataques especiales aceptan la hipótesis nula no teniendo así una diferencia significativa entre ellos.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [59]:
ttest_1samp((pokemon['Defense'] - pokemon['Attack']), 0)

TtestResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [ ]:
# Se puede concluir que hay una diferencia significativa entre la media de la muestra que sea 0.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [63]:
cross=pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')

cross

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [65]:
ji_dos, pval, dof, ex = chi2_contingency(cross)
ji_dos, pval, dof, ex

(2.9429200762850503,
 0.0862546724955095,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
#La relación independiente entre las columnas de Legendary y Type1 de Water pueden ser independientes.