# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [19]:
len(pokemon)
len(pokemon[pokemon['Legendary'] == 1])
prop_legendarios =  len(pokemon[pokemon['Legendary'] == 1])/len(pokemon)
prop_normal = 1 - len(pokemon[pokemon['Legendary'] == 1])/len(pokemon)
print(prop_legendarios)
print(prop_normal)

0.08125
0.91875

In [9]:
pokemon[pokemon['Legendary'] == 'False']

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [23]:
#Media y STD del conjunto total de pokemons
media_pts = pokemon['Total'].mean()
std_pts = pokemon['Total'].std()
print(media_pts)
print(std_pts)

435.1025
119.963039755519

In [26]:
no_leg = pokemon[pokemon['Legendary']==0]
leg = pokemon[pokemon['Legendary']==1]

In [29]:
no_leg['Total'].describe()

count    735.000000
mean     417.213605
std      106.760417
min      180.000000
25%      324.000000
50%      425.000000
75%      498.000000
max      700.000000
Name: Total, dtype: float64

In [30]:
leg['Total'].describe().T

count     65.000000
mean     637.384615
std       60.937389
min      580.000000
25%      580.000000
50%      600.000000
75%      680.000000
max      780.000000
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [ ]:
# Ho = leg y no_leg tienen la misma media de puntos totales
# H1 = leg y no_leg no tienen la misma media de puntos totales

In [35]:
from scipy.stats import ttest_ind
t_test = ttest_ind(leg['Total'], no_leg['Total'], 
                    alternative='two-sided',
                    equal_var = 'False')
t_test

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# No hay suficientes indicios para apoyar Ho, la podemos recharzar.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [37]:
# me pongo en situacion con el head
pokemon.head(2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False

In [41]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [47]:
water = pokemon[pokemon['Type 1']=='Water']
water['Total'].describe()

count    112.000000
mean     430.455357
std      113.188266
min      200.000000
25%      328.750000
50%      455.000000
75%      502.250000
max      770.000000
Name: Total, dtype: float64

In [51]:
non_water = pokemon[pokemon['Type 1']!='Water']
non_water['Total'].describe()

count    688.000000
mean     435.859012
std      121.091682
min      180.000000
25%      330.000000
50%      450.000000
75%      515.000000
max      780.000000
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [54]:
#Ho: la media de pokemon de agua = media pokemon no agua
#H1: la media de pokemon de agua != media pokemon no agua

from scipy.stats import ttest_ind
t_test = ttest_ind(non_water['Total'], water['Total'], 
                    alternative='two-sided',
                    equal_var = 'True')
t_test

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Como el p valor es muy alto podemos decir que no podemos rechazar Ho.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [55]:
from scipy.stats import ttest_rel

In [60]:
ataque = pokemon['Attack']
defensa = pokemon['Defense']

In [62]:
ataque.describe()

count    800.000000
mean      79.001250
std       32.457366
min        5.000000
25%       55.000000
50%       75.000000
75%      100.000000
max      190.000000
Name: Attack, dtype: float64

In [61]:
defensa.describe()

count    800.000000
mean      73.842500
std       31.183501
min        5.000000
25%       50.000000
50%       70.000000
75%       90.000000
max      230.000000
Name: Defense, dtype: float64

In [63]:
#Ho: media ataque = media defensa
#H1: media ataque != media defensa
ttest_rel(ataque, defensa)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Dado que el pvalue es muy cercano a 0, se puede rechazar Ho. La media de ataque y defensa de los pokemon no son iguales.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [65]:
ataque_esp = pokemon['Sp. Atk']
defensa_esp = pokemon['Sp. Def']

In [66]:
#Ho: media ataque.esp = media defensa.esp
#H1: media ataque.esp != media defensa.esp
ttest_rel(ataque_esp, defensa_esp)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# El p value es muy grande con lo que podemos descartar Ho.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [68]:
#Ho: media ataque-defensa = 0
#H1: media ataque-defensa != 0 
ttest_1samp(ataque - defensa, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [69]:
# El pvalue es casi 0 con lo que podemos descartar Ho
# Descartamos que la media de la diferencia entre ataque y defensa es igual a 0.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [82]:
cross=pd.crosstab(pokemon['Legendary'], pokemon["Type 1"] == 'Water')
cross

Type 1     False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [85]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

ji_dos, pval, dof, ex = chi2_contingency(cross)

ji_dos, pval, dof, ex

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Dado que el p_value es mayor que 0,05 no podemos descartar Ho.