# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [100]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [23]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [24]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [25]:
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [26]:
legen= pokemon[pokemon['Legendary']== True]
no_legen= pokemon[pokemon['Legendary']== False]

In [27]:
legen.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [28]:
leg_mean= legen['Total'].mean()
leg_std= legen['Total'].std()

In [29]:
no_leg_mean= no_legen['Total'].mean()
no_leg_std= no_legen['Total'].std()

In [30]:
leg_mean

637.3846153846154

In [31]:
leg_std

60.93738905315344

In [32]:
no_leg_mean

417.21360544217686

In [33]:
no_leg_std

106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [ ]:
# H0: μ1- μ2 = 0
# H1: μ1 - μ2 != 0

In [34]:
legen['Total'].info()

<class 'pandas.core.series.Series'>
Index: 65 entries, 156 to 799
Series name: Total
Non-Null Count  Dtype
--------------  -----
65 non-null     int64
dtypes: int64(1)
memory usage: 1.0 KB

In [35]:
no_legen['Total'].info()

<class 'pandas.core.series.Series'>
Index: 735 entries, 0 to 791
Series name: Total
Non-Null Count  Dtype
--------------  -----
735 non-null    int64
dtypes: int64(1)
memory usage: 11.5 KB

In [36]:
total_leg= legen['Total']
total_no_leg= no_legen['Total']

In [50]:
from scipy.stats import ttest_ind
t_stat, p_value = ttest_ind(total_leg, total_no_leg, equal_var=False)

# Print the t-statistic and p-value
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: 25.8335743895517
P-value: 9.357954335957444e-47

What do you conclude from this test? Write your conclusions below.

In [ ]:
# el T-statistic nos indica que hay una diferencia entre las medias de los grupos comparados
#el p-value es prácticamente 0, lo que nos lleva a descartar la H0 indicandonos que la diferencia es altamente significativa

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [52]:
pokemon['Type 1'].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [56]:
water= pokemon[pokemon['Type 1']== 'Water']
all= pokemon[pokemon['Type 1']!= 'Water']

In [59]:
water.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False

In [60]:
all.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [62]:
water_mean= water['Total'].mean()
water_std= water['Total'].std()

In [65]:
water_mean

430.45535714285717

In [63]:
all_mean= all['Total'].mean()
all_std= all['Total'].std()

In [66]:
all_mean

435.85901162790697

In [64]:
total_water= water['Total']
total_all= all['Total']

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [40]:
# H0: μ1- μ2 = 0
# H1: μ1 - μ2 != 0

In [78]:
t_stat, p_value = ttest_ind(total_water, total_all, equal_var=True)

# Print the t-statistic and p-value
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: -0.4418547448849676
P-value: 0.6587140317488793

Write your conclusion below.

In [41]:
# El t-statistic nos dice que la diferencia entre medias es muy pequeña, y al ser negativa, nos indica que la media de tipo agua es ligeramente inferior a la media del resto de tipos
# el p-value es muy grande, la diferencia no es suficientemente significativa, lo que nos lleva a aceptar más la H0 que la H1

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# H0: μ1- μ2 = 0
# H1: μ1 - μ2 != 0

In [91]:
defense_scores = pokemon['Defense']
attack_scores = pokemon['Attack']

In [92]:
pokemon['Defense'].mean()

73.8425

In [93]:
pokemon['Attack'].mean()

79.00125

In [94]:
t_stat, p_value = ttest_rel(defense_scores, attack_scores)

print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: -4.325566393330478
P-value: 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [43]:
# el t-statistic nos indica que hay pequeña diferencia entre las medias, la media de defensa es ligeramente inferior a la de ataque
# el p-value es muy próximo a 0, lo que nos da pie a descartar la hipótesis nula, ya que ambos valores no son iguales

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [95]:
# H0: μ1- μ2 = 0
# H1: μ1 - μ2 != 0

spdef = pokemon['Sp. Def']
spattack = pokemon['Sp. Atk']

In [96]:
pokemon['Sp. Def'].mean()

71.9025

In [97]:
pokemon['Sp. Atk'].mean()

72.82

In [99]:
t_stat, p_value = ttest_rel(spdef, spattack)

print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: -0.853986188453353
P-value: 0.3933685997548122

Describe the results of the test in the cell below.

In [ ]:
# el t-statistic indica que ambas medias estan muy cerca, al ser negativo indica la media de defensa especial está ligeramente por debajo que la media de ataque especial
# el p_value es muy grande, la diferencia no es lo suficientemente significativa como para descartar la H0.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [101]:
difference = defense_scores - attack_scores

t_stat, p_value = ttest_1samp(difference, 0)

print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: -4.325566393330478
P-value: 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: