Alexis Camarasa

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [104]:
# import numpy and pandas
import matplotlib.pyplot as plt
# %matplotlib inline

import pandas as pd
import numpy as np

from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

import statsmodels.api as sm
from statsmodels.formula.api import ols

import warnings
warnings.simplefilter('ignore')

from statsmodels.multivariate.manova import MANOVA
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import shapiro
# %pip install scikit-learn
from sklearn.preprocessing import StandardScaler
from scipy.stats import ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [118]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,newtotal
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,-0.976765
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,-0.251088
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.749845
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,1.583957
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,-1.051836

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [8]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
# Your code here:
leg = pokemon[pokemon["Legendary"] == True]["Total"]
leg

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [23]:
non_leg = pokemon[pokemon["Legendary"] == False]["Total"]
non_leg.head()

0    318
1    405
2    525
3    625
4    309
Name: Total, dtype: int64

In [34]:
lm = leg.mean()
lm
# media de los legendarios

637.3846153846154

In [35]:
nlm = non_leg.mean()
nlm
# media de los no legendarios

417.21360544217686

In [36]:
ls = leg.std()
ls
# desviacion standard legendarios

60.93738905315346

In [37]:
nls = non_leg.std()
nls
# desviacion standard no legendarios

106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [42]:
# Your code here:
"""HO -> (leg = non_leg); H1 -> (leg != non_leg)"""

'HO -> (leg = non_leg); H1 -> (leg != non_leg)'

In [54]:
t_test, pvalue = ttest_ind(leg, non_leg, alternative='two-sided')
pvalue

3.0952457469652825e-52

In [53]:
if pvalue < 0.05:
    print("Rechazamos que leg y non_leg son iguales")
else:
    print("Aceptamos que leg y non_leg son iguales")

Rechazamos que leg y non_leg son iguales

What do you conclude from this test? Write your conclusions below.

In [56]:
# Your conclusions here:
""" Concluimos que el total de puntos de los pokemones legendarios y no legendarios son significativamente distintos """

' Concluimos que el total de puntos de los pokemones legendarios y no legendarios son significativamente distintos '

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [60]:
t1 = pokemon["Type 1"].value_counts()
t1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [64]:
# Your code here:
water = pokemon[pokemon["Type 1"] == "Water"]["Total"]
water.head()

9     314
10    405
11    530
12    630
59    320
Name: Total, dtype: int64

In [66]:
rest = pokemon[pokemon["Type 1"] != "Water"]["Total"]
rest.head()

0    318
1    405
2    525
3    625
4    309
Name: Total, dtype: int64

In [67]:
water.mean()
# la media de puntos de los pokemones tipo agua

430.45535714285717

In [68]:
water.std()
# la desviacion standard de los pokemones tipo agua

113.18826606431458

In [69]:
rest.mean()
# la media del resto de los pokemones sin incluir los tipo agua

435.85901162790697

In [71]:
rest.std()
# la desviacion standard del resto de los pokemones, sin incluir los tipo agua

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [72]:
# Your code here:
""" H0 -> (water = rest) ; H1 -> (water != rest)"""

' H0 -> (water = rest) ; H1 -> (water != rest)'

In [95]:
shapiro(rest) 
# no es normal, rechazo H 0

ShapiroResult(statistic=0.9821632504463196, pvalue=1.9721480271073233e-07)

In [96]:
shapiro(water) # no es normal, rechazo H 0

ShapiroResult(statistic=0.969588041305542, pvalue=0.01169627159833908)

In [99]:
columna = pokemon['Total']
columna = columna.values.reshape(-1, 1)

In [100]:
#añadir la columna ya normalizada al df
pokemon['newtotal'] = StandardScaler().fit_transform(columna)

In [101]:
#filtrado de la info que queremos comparar
watnor = pokemon[pokemon['Type 1'] == 'Water']['newtotal']
restnor = pokemon[pokemon['Type 1'] != 'Water']['newtotal']

In [102]:
#ttest del normalizado ok
t_test=ttest_ind(watnor,
                restnor,
                alternative='two-sided'
                  )
t_test

Ttest_indResult(statistic=-0.4418547448849704, pvalue=0.6587140317488773)

In [73]:
t_test, pvalue = ttest_ind(water, rest, alternative='two-sided')
pvalue

0.6587140317488793

In [74]:
if pvalue < 0.05:
    print("Rechazamos que water y rest son iguales")
else:
    print("Aceptamos que water y rest son iguales")

Aceptamos que water y rest son iguales

Write your conclusion below.

In [76]:
# Your conclusions here:
""" Concluimos que el total de puntos de los pokemones tipo agua y el resto de los pokemos, sin incluir los tipo agua, son similares """

' Concluimos que el total de puntos de los pokemones tipo agua y el resto de los pokemos, sin incluir los tipo agua, son similares '

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [83]:
""" HO -> Attack = Defense ; H1 -> Attack != Defense """

' HO -> Attack = Defense ; H1 -> Attack != Defense '

In [82]:
# Your code here:
t_test, pvalue = ttest_rel(pokemon["Attack"], pokemon["Defense"], alternative='two-sided')
pvalue

1.7140303479358558e-05

In [84]:
if pvalue < 0.05:
    print("Rechazamos que Attack y Defense son iguales")
else:
    print("Aceptamos que Attack y Defense son iguales")

Rechazamos que Attack y Defense son iguales

Describe the results of the test in the cell below.

In [87]:
# Your conclusions here:
"""Concluimos que el total de Attack y Deffense, son significativamente distintos"""

'Concluimos que el total de Attack y Deffense, son significativamente distintos'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [88]:
# Your code here:
""" HO -> Sp. Atk = Sp. Def ; H1 -> Sp. Atk != Sp. Def """

' HO -> Sp. Atk = Sp. Def ; H1 -> Sp. Atk != Sp. Def '

In [90]:
t_test, pvalue = ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"], alternative='two-sided')
pvalue

0.3933685997548122

In [91]:
if pvalue < 0.05:
    print("Rechazamos que Sp. Atk y Sp. Def son iguales")
else:
    print("Aceptamos que Sp. Atk y Sp. Def son iguales")

Aceptamos que Sp. Atk y Sp. Def son iguales

Describe the results of the test in the cell below.

In [92]:
# Your conclusions here:
"""Concluimos que la media del total de las columnas de Sp. Atk y Sp. Def, son similares"""

'Concluimos que la media del total de las columnas de Sp. Atk y Sp. Def, son similares'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [109]:
# Your code here:
""" HO -> [Defense - Attack] = 0 ; H1 -> [Defense - Attack] != 0   """

' HO -> [Defense - Attack] = 0 ; H1 -> [Defense - Attack] != 0   '

In [111]:
t_test, pvalue = ttest_1samp((pokemon["Defense"] - pokemon["Attack"]), 0, alternative='two-sided')

pvalue

1.7140303479358558e-05

In [112]:
if pvalue < 0.05:
    print("Rechazamos que la diferencia entre defensa y ataque es igual a cero")
else:
    print("Aceptamos que la diferencia entre defensa y ataque es igual a cero")

Rechazamos que la diferencia entre defensa y ataque es igual a cero

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [116]:
""" Independencia (H0: Si, H1: No) """

' Independencia (H0: Si, H1: No) '

In [114]:
# Your code here:
cross = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == "Water")
cross.head()

Type 1     False  True
Legendary
False        627   108
True          61     4

In [132]:
pokemon.loc[pokemon["Type 1"] == "Water", "Legendary"].value_counts()

False    108
True       4
Name: Legendary, dtype: int64

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [133]:
ji_dos, pval, dof, ex = chi2_contingency(cross)

ji_dos, pval, dof, ex

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [135]:
if pval < 0.05:
    print("Rechazamos que los pokemones Legendarios son independientes de los pokemones tipo 1 agua")
else:
    print("Aceptamos que los pokemones Legendarios son independientes de los pokemones tipo 1 agua")

Aceptamos que los pokemones Legendarios son independientes de los pokemones tipo 1 agua